<section class="max-w-68">
  <div class="relative flex flex-col mb-2">
  	<label
    	for="card-number"
      class="text-sm font-semibold text-gray-700"
    >
    	Credit card number
    </label>
    <img
    	class="absolute cc-image"
    	src={{this.creditCardImage}}
      alt="Credit card"
    />
    <OneWayCreditCardMask
    	@value={{this.cardNumber}}
      @update={{this.update}}
      @placeholder="1234 5678 9012 3456"
      @separator=" "
      @options={{hash
      	placeholder=" "
        showMaskOnHover=false
        showMaskOnFocus=false
      }}
    	class="w-full py-3 pl-16 pr-2 text-lg border rounded-sm"
    	id="card-number"
      type="text"
      name="CreditCardNumber"
      autocomplete="cc-number"
    />
  </div>

  <div class="mb-2 grid grid-cols-3 gap-3">
  	<div class="flex flex-col">
    	<label
        for="card-expire"
        class="text-sm font-semibold text-gray-700"
      >
        Expiration
      </label>
      <OneWayDateMask
      	@options={{hash
        	placeholder="MM/YY"
        	inputFormat="mm/yy"
          showMaskOnFocus=false
        }}
        @placeholder="MM/YY"
        class="p-3 border rounded-sm"
        id="cc-exp"
        name="cc-exp"
        autocomplete="cc-exp"
      />
    </div>

    <div class="flex flex-col">
    	<label
        for="card-expire"
        class="text-sm font-semibold text-gray-700"
      >
        CVC
      </label>
      <OneWayInputMask
        @mask={{this.cardCvcMask}}
        @value={{this.cardCvc}}
        @update={{this.updateCvc}}
        @options={{hash
          placeholder=" "
        }}
        class="p-3 border rounded-sm"
        id="card-csc"
        name="cc-csc"
        type="text"
        integerDigits={{this.cardCvcLength}}
        autocomplete="cc-csc"
      />
    </div>

    <div class="flex flex-col">
    	<label
        for="postal-code"
        class="text-sm font-semibold text-gray-700"
      >
        Zip code
      </label>
      <OneWayZipCodeMask
      	@options={{hash
          placeholder=" "
          showMaskOnHover=false
          showMaskOnFocus=false
        }}
        @update={{this.updateZip}}
        @value={{this.zipCode}}
      	class="p-3 border rounded-sm"
        id="postal-code"
        type="text"
        autocomplete="postal-code"
      />
    </div>
  </div>

  <div class="flex flex-col mb-2">
    <label
      for="cc-name"
      class="text-sm font-semibold text-gray-700"
    >
      Name on card
    </label>
    <input
      class="w-full p-3 border rounded-sm"
      id="cc-name"
      name="cc-name"
      type="text"
      autocomplete="cc-name"
    />
  </div>
</section>

{{!--
<section class="pt-4 mt-10 border-t">
	<p class="text-sm">
  	By completing booking, you agree to the <a href="#" class="text-green-400">cancellation policy</a> and to make this my default card for all digital and in-person payments.
  </p>
</section>
--}}