<section>
	<div class="flex flex-col mb-2">
  	<label
    	for="cc-name"
      class="text-sm text-gray-700"
    >
    	Name on card
    </label>
    <input
    	class="p-2 border rounded-sm"
    	id="cc-name"
      name="cc-name"
      type="text"
      autocomplete="cc-name"
    />
  </div>

  <div class="relative flex flex-col mb-2">
  	<label
    	for="card-number"
      class="text-sm text-gray-700"
    >
    	Credit card number
    </label>
    <img
    	class="absolute cc-image"
    	src={{this.creditCardImage}}
      alt="Credit card"
    />
    <OneWayCreditCardMask
    	@value={{this.cardNumber}}
      @update={{action 'update'}}
      @placeholder="1234 5678 9012 3456"
      @separator=" "
      @options={{hash
      	placeholder=" "
        showMaskOnHover=false
      }}
    	class="py-2 pl-16 pr-2 text-lg border rounded-sm"
    	id="card-number"
      type="text"
      name="CreditCardNumber"
      autocomplete="cc-number"
    />
  </div>

  <div class="mb-2 grid grid-cols-3 gap-3">
  	<div class="flex flex-col">
    	<label
        for="card-expire"
        class="text-sm text-gray-700"
      >
        Expiration
      </label>
      <OneWayDateMask
      	@options={{hash
        	placeholder="MM/YYYY"
        	inputFormat="mm/yyyy"
          showMaskOnFocus=false
        }}
        class="p-2 border rounded-sm"
        id="cc-exp"
        name="cc-exp"
        autocomplete="cc-exp"
      />
    </div>

    <div class="flex flex-col">
    	<label
        for="card-expire"
        class="text-sm text-gray-700"
      >
        CVC
      </label>
      <input
        class="p-2 border rounded-sm"
        id="card-csc"
        name="cc-csc"
        type="text"
        autocomplete="cc-csc"
      />
    </div>

    <div class="flex flex-col">
    	<label
        for="postal-code"
        class="text-sm text-gray-700"
      >
        Zip code
      </label>
      <OneWayZipCodeMask
      	@options={{hash
          placeholder=" "
          showMaskOnHover=false
        }}
      	class="p-2 border rounded-sm"
        id="postal-code"
        type="text"
        autocomplete="postal-code"
      />
    </div>
  </div>

  <div class="pt-3 mt-4 border-t">
  	<a href="#" class="text-sm font-semibold text-green-400">Apply gift code</a>
	</div>

</section>

<section class="pt-4 mt-10 border-t">
	<p class="text-sm">
  	By completing booking, you aagree to the <a href="#" class="text-green-400">cancellation policy</a> and to make this my default card for all digital and in-person payments.
  </p>

  <button type="button" class="w-full py-2 mt-4 text-lg text-white bg-teal-500 border">
  	Complete booking
  </button>
</section>